
  .header{
    width: 200px;
    height:2000;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }

.logo{
    color: royalblue;
    text-decoration: none;
  }
  .cart{
    width: 40px;
    height: 30px;
    margin-top: 25px;
    border-radius: 22px;
    margin-left: 165px;
  }
  .favorite_img{
    width: 40px;
    height: 30px;
    margin-top: 35px;
    border-radius: 22px;
    margin-left:165px;
   
  }
  .container{
    width: 500px;
    display: flex;
    flex-direction: column;
    color: darkslategrey;


  }
  .button_container{
    width: 200px;
    height: 70px;
 
  }
  .cart_link{
      text-decoration: none;
      color: cadetblue;
      width: 250px;
      height: 70px;
  }
  .fav_link{
      text-decoration: none;
      color:darkslategray;
      width: 250px;
      height: 70px;
      
  }
  .cart_link h2{
   font-size: 20px;
   margin-top: -5px;
   margin-left:155px ;
 } 
 .fav_link h2{
   font-size: 20px;
   margin-top: -5px;
   margin-left: 155px;
 }
.user_name{
  color:black;
}
.auth_img{
  width: 60px;
  height: 60px;
  border-radius: 25px;
  position: absolute;
  top: 10px;
  left:3px;
}
.auth_name{
  color:beige;
  position: absolute;
  top:10px;
 right: 60px;
 
}
.auth_container{
  width: 200px;
  display: flex;
  align-items: center;
border:1px solid #fff;
position: relative;
  color: cadetblue;
}
